<div class="center">
    <form class="borderbox">
        <h2>Give your Information</h2>
        <table>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="outline" value="Name">
                        <mat-label> Name</mat-label>
                        <input type="name" matInput [formControl]="NameFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. Puneet">
                        <mat-error *ngIf="NameFormControl.hasError('Name') && !NameFormControl.hasError('required')">
                            Please enter a valid First Name
                        </mat-error>
                        <mat-error *ngIf="NameFormControl.hasError('required')">
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="outline" value="EmailRequired">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="outline" value="PhoneNumber">
                        <mat-label>PhoneNumber</mat-label>
                        <input type="name" matInput [formControl]="PhoneNumberFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. 123456">
                        <mat-error
                            *ngIf="PhoneNumberFormControl.hasError('PhoneNumber') && !PhoneNumberFormControl.hasError('required')">
                            Please enter a valid PhoneNumber
                        </mat-error>
                        <mat-error *ngIf="PhoneNumberFormControl.hasError('required')">
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="outline" value="descriptionbox">
                        <mat-label>description </mat-label>
                        <input type="text" matInput [formControl]="descriptionFormControl" [errorStateMatcher]="matcher"
                            placeholder="filldescription">
                        <mat-error
                            *ngIf="descriptionFormControl.hasError('filldescription') && !descriptionFormControl.hasError('required')">
                            Please enter a valid description
                        </mat-error>
                        <mat-error *ngIf="descriptionFormControl.hasError('required')">
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <button mat-stroked-button>Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<p class="text-center"> <b>GOT A QUESTION? WE'RE HERE TO HELP!</b></p>

<div class="container" >
    <mat-card class="element raise pulse">
        <h3><b>AvinfoSolutions Office Address</b></h3>
        <p>
            𝟓𝟔, 𝐁𝐲𝐏𝐚𝐬𝐬 𝐑𝐨𝐚𝐝,
            𝐍𝐞𝐚𝐫 𝐛𝐮𝐬 𝐬𝐭𝐚𝐧𝐝 – 𝟏𝟒𝟓𝟎𝟎𝟏,
            𝐏𝐚𝐭𝐡𝐚𝐧𝐤𝐨𝐭,𝐏𝐮𝐧𝐣𝐚𝐛
            𝐈𝐧𝐝𝐢𝐚.
        </p>
    </mat-card>
    <mat-card class="element raise pulse">
        <h3><b>Head Office</b></h3>
        <p>
            𝟕𝟖𝟔, 𝐒𝐡𝐚𝐫𝐦𝐚 𝐂𝐨𝐦𝐩𝐥𝐞𝐱,
            𝐎𝐩𝐩. 𝐃𝐒 𝐅𝐚𝐫𝐦,
            𝐍𝐞𝐚𝐫 𝐂𝐫𝐨𝐬𝐬 𝐑𝐨𝐚𝐝,
            𝐏𝐮𝐧𝐣𝐚𝐛 - 𝟏𝟒𝟓𝟎𝟐𝟓.
            +𝟗𝟏 𝟕𝟖𝟖𝟗𝟏𝟏𝟏𝟎𝟕𝟏
            𝐀𝐯@𝐢𝐧𝐟𝐨𝐒𝐨𝐥𝐮𝐭𝐢𝐨𝐧𝐬.𝐜𝐨𝐦
        </p>
    </mat-card>
</div>
