
.hidden-table:hover {
  background-color: #fff !important;
}
td
{
  min-width: 150px;
  max-width: 500px;
  width: 300px;
}
.example-full-width {
    width: 100%;
  }
  .mat-card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 25px;
    margin: 10px;
  }
  .element h3 {
    margin: 0;
  }
  