<div>
    <div class="text-center "  >
        <h1>𝙒𝙚𝙗𝙨𝙞𝙩𝙚 𝘿𝙚𝙫𝙚𝙡𝙤𝙥𝙢𝙚𝙣𝙩 & 𝘿𝙚𝙨𝙞𝙜𝙣𝙞𝙣𝙜 𝙎𝙚𝙧𝙫𝙞𝙘𝙚𝙨 </h1>
    </div>
    
    <div class="main-content">
        <hr style="width: 90%; text-align: center; ">
        <div>
            <h3 class="text-center fs-2"><b> 𝙊𝙪𝙧 𝙎𝙠𝙞𝙡𝙡𝙨</b> </h3>
            <div class="container">

                <mat-card class="element raise pulse">
                    <div><img mat-card-image src="assets\images\angular.svg" width="180" height="100"></div>
                    <h3><b>Angular Development</b></h3>
                    <p>
                        To assure master level of services, our dedicated team of Angular developers creates
                        integrative, qualified, reliable and scalable Angular applications based on clients'
                        needs...
                    </p>
                </mat-card>


                <mat-card class="element">
                    <div><img mat-card-image src='assets\images\nodejs-logo.svg' width="115" height="115"></div>
                    <h3><b>Node.js Development</b></h3>
                    <p>AvinfoSolutions is the collective custodian of Node.js (server-side JavaScript), the fullest
                        run-time environment for today’s ‘highly scalable’ network and ‘real-time’ applications...
                    </p>
                </mat-card>

                <mat-card class="element">
                    <div><img mat-card-image src='assets\images\React.svg' width="100" height="100"></div>
                    <h3><b>React Development</b></h3>
                    <p>React.js consulting is aimed at solving tech challenges of React.js development at any stage
                        of the app development project life cycle. ScienceSoft offers React.js </p>
                </mat-card>

                <mat-card class="element">
                    <div><img mat-card-image src='assets\images\net-logo.svg'></div>
                    <h3> <b>.NET Development</b></h3>
                    <p>AvinfoSolutions produces world-class .NET solutions and .Net application development services
                        by applying the latest .Net technologies on each level of project design and execution...
                    </p>
                </mat-card>

                <mat-card class="element">
                    <div><img mat-card-image src='assets\images\python.svg' width="80" height="100"></div>
                    <h3><b> Python Development</b></h3>
                    <p>AvinfoSolutions offers the services of Python developers and data scientists with 3-15 years
                        of experience who ensure first-time-right code, on-time delivery, </p>
                </mat-card>
                <mat-card class="element">
                    <div><img mat-card-image src='assets\images\aws.svg' width="100" height="100"></div>
                    <h3><b>AWS Development</b></h3>
                    <p>We provide high quality e-services on AWS. Whether you want to have a blog for yourself or you
                        are a
                        company in need to web services, we have a lot to
                        offer! </p>
                </mat-card>



                <mat-card class="element">
                    <div><img mat-card-image src='assets\images\HTML.svg' width="115" height="115"></div>
                    <h3><b>Flutter Development</b></h3>
                    <p>Our strong competency on HTML5 helps us to cater business centric HTML5 Mobile App
                        Development Services for various industry verticals encompassing qualitative resolutions...
                    </p>
                </mat-card>

                <mat-card class="element">
                    <div><img mat-card-image src='assets\images\java-script-js.svg'></div>
                    <h3><b>JS Development</b></h3>
                    <p>We create and optimize web services with JavaScript, including single page web apps, web
                        portals, custom JavaScript Frameworks and dynamic
                        enterprise grade websites. </p>
                </mat-card>

            </div>
        </div>

    </div>