<div>
    <div>
        <h1>Services we Offer</h1>
    </div>
    <div>
        <div>
            <img src="src\assets\images\about-us-sign (2).jpg"/>
            <h3>.NET Development</h3>
            <p>
                Our services for ASP.NET development allow you to obtain world-class and flexible web
                solutions for your complex business models. We have dedicated and skilled ASP.NET developers who have
                many years of experience in DOT NET technology.

            </p>
        </div>
    </div>
</div>>