.home1 {
  background: #ffffff url("src\assets\images\soft.jpg") no-repeat center
    top;
  background-size: cover;
  display: block;
  width: 100vw;
  height: 100vh;
}

.prnt_first {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.home1 .first {
  font: italic small-caps bold 22px/30px Georgia, serif;
  color: cornsilk;
}
