.home1 {
  background: #ffffff url("src\assets\images\homePick.jpg") no-repeat center
    top;
  display: block ;
  width: 100vw;
  height: 100vh;
}

.prnt_first {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.home1 .first {
  font: italic small-caps bold 42px/30px Georgia, serif;
  color: rgba(43, 29, 231, 0.986);

}
