<section class="home1">
    <div class="prnt_first">
        <div class="first">
            <h2>Grow Your Business with our
                user-friendly IT Solutions
            </h2>
            <h4>
                Web, Mobile & Software Development Services
            </h4>
        </div>
    </div>
</section>


<div class="main-content">
    <div>
        <h3> ——————————————————————————————————————————————————𝙊𝙪𝙧 𝙎𝙠𝙞𝙡𝙡𝙨——————————————————————————————————————————————————</h3>
        <div class="container">

            <mat-card class="element">
                <div><img mat-card-image src='assets\images\microsoftdot-net.svg'></div>
                <mat-card-header> <b>.NET Development</b> </mat-card-header>
                <p>AvinfoSolutions produces world-class .NET solutions and .Net application development services
                    by applying the latest .Net technologies on each level of project design and execution...
                </p>
            </mat-card>



            <mat-card class="element">
                <div><img mat-card-image src='assets\images\node-js.png' width="115" height="115"></div>
                <h3><b>Node.js Development</b></h3>
                <p>AvinfoSolutions is the collective custodian of Node.js (server-side JavaScript), the fullest
                    run-time environment for today’s ‘highly scalable’ network and ‘real-time’ applications...
                </p>
            </mat-card>


            <mat-card class="element">
                <div><img mat-card-image src='assets\images\HTML.svg'></div>
                <h3><b>Flutter Development</b></h3>
                <p>Our strong competency on HTML5 helps us to cater business centric HTML5 Mobile App
                    Development Services for various industry verticals encompassing qualitative resolutions...
                </p>
            </mat-card>

        </div>
        <div class="container">

            <mat-card class="element">
                <div><img src="assets\images\angular-logo.png" width="100" height="100"></div>
                <h3><b>Angular Development</b></h3>
                <p>
                    To assure master level of services, our dedicated team of Angular developers creates
                    integrative, qualified, reliable and scalable Angular applications based on clients'
                    needs...
                </p>
            </mat-card>


            <mat-card class="element">
                <div><img mat-card-image src='assets\images\python.png' width="80" height="100"></div>
                <h3><b> Python Development</b></h3>
                <p>AvinfoSolutions offers the services of Python developers and data scientists with 3-15 years
                    of experience who ensure first-time-right code, on-time delivery, </p>
                </mat-card>

            <mat-card class="element">
                <div><img mat-card-image src='assets\images\React.svg' width="100" height="100"></div>
                <h3><b>React Development</b></h3>
                <p>React.js consulting is aimed at solving tech challenges of React.js development at any stage
                    of the app development project life cycle. ScienceSoft offers React.js </p>
                </mat-card>

        </div>
        <div class="container">

            <mat-card class="element">
                <div><img mat-card-image src='assets\images\jsx.jpg'></div>
                <h3><b>JS Development</b></h3>
                <p>JavaScript is a client-side development language, JavaScript serves as a fast
                    server-side
                    language for the entire application to be coded in JavaScript.</p>
                </mat-card>

        </div>
    </div>
<div >
<h3>Terms of Service   |  Privacy Policy   |  © 2002 - 2021 AvinfoSolutions, India. All Rights Reserved.</h3>
</div>