<section class="home1">
    <div class="prnt_first">
        <div class="first" align="center">
            <h2>Grow Your Business with our
                user-friendly IT Solutions
            </h2>
            <h4>
                Web, Mobile & Software Development Services
            </h4>
        </div>
    </div>
</section>


<div class="main-content">
    <div>
        <h3> ——————————————————————𝙊𝙪𝙧 𝙎𝙠𝙞𝙡𝙡𝙨—————————————————————</h3>
        <br>
        <div class="container">
            <mat-grid-list cols="4">
                <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <div class="element">
                        <img src='assets\images\microsoftdot-net.svg'>
                        <h3> .NET Development</h3>
                        <p>AvinfoSolutions produces world-class .NET solutions and .Net application development services
                            by applying the latest .Net technologies on each level of project design and execution...
                        </p>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <div class="element">
                        <img src='assets\images\Node.js_logo.svg.webp'>
                        <br><br>
                        <h3>Node.js Development</h3>
                        <p>AvinfoSolutions is the collective custodian of Node.js (server-side JavaScript), the fullest
                            run-time environment for today’s ‘highly scalable’ network and ‘real-time’ applications...
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <div class="element">
                        <br>
                        <img src='assets\images\HTML.svg'>
                        <h3>Flutter Development</h3>
                        <p>Our strong competency on HTML5 helps us to cater business centric HTML5 Mobile App
                            Development Services for various industry verticals encompassing qualitative resolutions...
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <div class="element">
                        <img src="assets\images\angular-logo-1.webp">
                        <br><br>
                        <h3>Angular Development</h3>
                        <p>
                            To assure master level of services, our dedicated team of Angular developers creates
                            integrative, qualified, reliable and scalable Angular applications based on clients'
                            needs...
                        </p>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="container">
            <mat-grid-list cols="4">
                <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <div class="element">
                        <img src='assets\images\python.png'>
                        <h3> Python Development</h3>
                        <p>AvinfoSolutions offers the services of Python developers and data scientists with 3-15 years
                            of experience who ensure first-time-right code, on-time delivery, </p>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <div class="element">
                        <img src='assets\images\React.js_logo-512.webp'>
                        <h3>React Development</h3>
                        <p>React.js consulting is aimed at solving tech challenges of React.js development at any stage
                            of the app development project life cycle. ScienceSoft offers React.js </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]=1 [rowspan]=1>
                    <div class="element">
                        <img src='assets\images\jsx.jpg'>
                        <h3>JS Development</h3>
                        <p>JavaScript is a client-side development language, JavaScript serves as a fast server-side
                            language for the entire application to be coded in JavaScript.</p>
                    </div>
                </mat-grid-tile>
                </mat-grid-list>
        </div>
    </div>