.about-us
{
    background-size: cover;
    margin-left: 80px;
    margin-bottom: 20px;
}
.paragraph{
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 50px;
  text-align: justify;
  letter-spacing: 2px;
}